$openColor: #4ae77e;
$closedColor: #ff6552;

html,
body {
    width: 100%;
    height: 100%;
}

.office {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bathroom {
    height: 100%;
    display: flex;
    border-right: 1px solid #333;
    background-color: lightgray;
    border-bottom: 1px solid white;

    &:last-child {
      border-bottom: none;
    }
}

.status {
    font-family: serif;
    text-align: center;
}
.isOpen {
    background-color: $openColor;
    border-color: scale-color($openColor, $lightness: 35%);
}
.isClosed {
    background-color: $closedColor;
    border-color: scale-color($closedColor, $lightness: 35%);
}