<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>953109466011-f7fch75tf0m0e2p0s2p2acdq8bk72hht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953109466011-f7fch75tf0m0e2p0s2p2acdq8bk72hht</string>
	<key>API_KEY</key>
	<string>AIzaSyB5imNYb3Gy3dMkdHCASC_a3xY0S9BvgO8</string>
	<key>GCM_SENDER_ID</key>
	<string>953109466011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventfarm.can-i-poop</string>
	<key>PROJECT_ID</key>
	<string>canipoop-4efd0</string>
	<key>STORAGE_BUCKET</key>
	<string>canipoop-4efd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:953109466011:ios:17881e3927d95d77</string>
	<key>DATABASE_URL</key>
	<string>https://canipoop-4efd0.firebaseio.com</string>
</dict>
</plist>